{{ define "main" }}
  <article class="post">
    {{ .Render "header" }}
    <div id="socnet-share">
      {{ partial "share-buttons" . }}
    </div>
    <div class="content">
      {{ .Render "featured" }}
      <img src='{{ if eq .Params.Image "" }}{{else}}{{ .Params.Image}}{{end}}' style="max-width: 100%;"/>
      {{ .Content }}
    </div>
    <footer>
      <div style="display: inline-flex;">
        {{ with .Params.tags }}
        <span style="font-weight: 200; font-size: larger; margin-right: 5px;">Tags: </span> 
          {{ range. }}
            <a style="background-color: #e5e5e5; padding: 1px 6px; border-radius: 5%; margin-right: 2px;" href="/tags/{{ . | urlize }}"> # {{ . }}</a>
          {{ end }}
        {{ end }}
      </div>
    </footer>
  </article>
  {{ if not ( eq .Params.comments false) }}
    {{ .Render "comments" }}
  {{ end }}
  <div class="pagination">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.RelPermalink }}" class="button left"><span>{{ .NextInSection.Title }}</span></a>
    {{ end }}
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.RelPermalink }}" class="button right"><span>{{ .PrevInSection.Title }}</span></a>
    {{ end }}
  </div>
{{ end }}
